// =====================================================================================
// Page not found 
// =====================================================================================
.page-not-found {
    padding: 2rem 0;

    h2 {
        font-family: BMWTypeBold;
        text-align: center;
    }
}